@font-face {
  font-family: 'TitleFont';
  src: url('../fonts/BLACKOUT-2AM.TTF') format('truetype'),
       url('../fonts/BLACKOUT-2AM.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.headerClass{
    display: flex;
    color: var(--white);
    background-color: var(--white);
    justify-content: space-between;
  }

  .headerContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
  }

  .logo{
    display: flex;
    margin: 1%;
    transition: 0.3s;
  }

  .Canlogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 20px;
    margin: 3%;
    transition: transform 0.3s ease;
  }

  .Canlogo:hover {
    animation: zoomWiggle 0.6s ease forwards;
  }
  
  @keyframes zoomWiggle {
    0% {
      transform: scale(1) rotate(0deg);
    }
    10% {
      transform: scale(1.05) rotate(0deg);
    }
    20% {
      transform: scale(1.05) rotate(5deg);
    }
    30% {
      transform: scale(1.05) rotate(-5deg);
    }
    40% {
      transform: scale(1.05) rotate(3deg);
    }
    50% {
      transform: scale(1.05) rotate(-3deg);
    }
    60% {
      transform: scale(1.05) rotate(2deg);
    }
    100% {
      transform: scale(1.05) rotate(0deg);
    }
  }
  

  .logo:hover{
    transition: 0.3s;
    margin-left: 18px;
  }

.logoText{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
}

  .title{
    font-family: "TitleFont", Verdana, Tahoma;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.986);
    margin: 0px;
  }

  .pushDown{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
  }

  .title2{
    font-family: "TitleFont", Verdana, Tahoma;
    font-size: 40px;
    color: rgb(228, 36, 36);
    margin: 0px;
  }

  .flavorText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--white);
    font-size: 15px;
    font-style: italic;
    margin: 5px 0px 0px 0px;
    color: black;
  }

  #phonenumber{
    margin: 0px;
  }

  #email{
    margin: 0px;
  }