@font-face {
  font-family: 'TitleFont';
  src: url('../fonts/BLACKOUT-2AM.TTF') format('truetype'),
       url('../fonts/BLACKOUT-2AM.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.headerClass{
    display: flex;
    color: var(--white);
    background-color: var(--white);
    /* background-image: url('../img/SJshot.jpg'); */
    background-attachment: fixed;
  }

  .logo{
    display: flex;
    width: 100%;
    margin: 1%;
    transition: 0.3s;
  }

  .logo:hover{
    transition: 0.3s;
    margin-left: 3%;
  }

.logoText{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
}

  .title{
    font-family: "TitleFont", Verdana, Tahoma;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.986);
    margin: 0px;
  }

  .pushDown{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
  }

  .title2{
    font-family: "TitleFont", Verdana, Tahoma;
    font-size: 40px;
    color: rgb(228, 36, 36);
    margin: 0px;
  }

  .flavorText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--white);
    font-size: 15px;
    font-style: italic;
    margin: 5px 0px 0px 0px;
    color: black;
  }