.homeClass{
  position: relative;
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var( --testColor);
  }
  