.NavClass{
  position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    color: var(--white);
    margin: 1%;
  }

  .navButton{
    font-family: "titleFont";
    font-size: 30px;
    background-color: var(--Transparent);
    color: var(--white);
    margin: 1%;
    transition: transform 0.3s ease;
  }

  .navButton:hover{
    background-color: var(--Transparent);
    color: var(--linkColor);
    border-color:var(--Transparent);
    transition: transform 0.3s ease;
  }
